<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Link Personalizado</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Link Personalizado</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <script>
            function nao() {
                location.href = "https://wa.me/51<%= personalizado.title %>?text=<%= personalizado.description %>"
            }
    
            function link() {
                location.href="https://www.youtube.com/watch?v=ntTGt6BOVDA"
            }
            
            function muevete() {
    
                width = window.innerWidth;
                height = window.innerHeight;
    
                newWidth = (Math.random() * width);
                newHeight = (Math.random() * height);
    
                document.getElementById('btnNo').style.position = "absolute";
                document.getElementById('btnNo').style.left = newWidth + "px";
                document.getElementById('btnNo').style.top = newWidth + "px";
    
                
    
            } 
        </script>
    
        <header>
            <a href="https://geogz-portfolio.netlify.app/" target="_blank" class="logo">
                <img src="https://th.bing.com/th/id/R.c2756091f69c21f454fc77d08a7c04a8?rik=og9IXMA9qV5WAA&pid=ImgRaw&r=0" alt="logo">
                <h2 class="nombre-empresa">Geogz</h2>
            </a>
            <nav>
                <a href="/" class="nav-link">Inicio</a>
                <a href="https://www.instagram.com/geogz.dev/" target="_blank" class="nav-link">Contacto</a>
                <a href="/crear" class="nav-link">Link Propio</a>
            </nav>
    
        </header>
    
        <h1 style="font-family: calibri;">¿Quieres ser mi flaca?</h1>
        <img class="imagen" src="/img/uploads/ok.png">
        <br>
        <input class="custom-btn" type="button" onclick="nao()" id="btnSi" value="Si" />
        <input class="custom-btn-no" type="button" onclick="link()" id="btnNo" onmouseover="muevete()" value="No" />
    
    
        
    </body>
    </html>
</body>
</html>